@font-face {
    font-family: 'ZT Formon';
    src: url('/font/ZT\ Formom\ Italic.woff2') format('woff2'),
             url('/font/festina-lente-regular.woff') format('woff');
}

* {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

.content-wrapper {
    max-width: calc(100% - 100px);
    position: relative;
    margin: 0px 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    position: absolute;
    z-index: 2;
    width: 100%;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

li img {
    width: 3rem;
}

a {
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 150%;
    position: relative;
}

.accueil {
    background-image: url("media/peche.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.accueil::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 30%),
                linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 70%);
}

h1 {
    color: #f5f5f5;
    font-size: 7rem;
    position: absolute;
    font-family: "festina";
    font-weight: 400;
    padding-left: 80px;
    bottom: 80px;
}

.description {
    margin-top: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.description img {
    width: 30%;
}

.description div {
    width: 40%;
}

.description div p{
    margin-top: 20px;
    margin-left: 50px;
}

h2{
    font-family: "festina";
    font-weight: 400;
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 4rem;
}

h4 {
    font-size: 1.6em;
    margin-bottom: 20px;
}

p {
    text-align: left;
    font-size: 1.3em;
}

.prestation {
    width: 522px;
    height: 640px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    position: absolute;
    transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1), z-index 0s;
}

.prestation > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.prestation img {
    background-color: blue;
    width: 100%;
    max-height: 60%;
    object-fit: cover;
    position: relative;
    object-position: 0% 15%;
}

.prestation > div > div {
    padding: 40px;
    flex-grow: 0.5;
}

.fleche {
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: none;
}

.carousel-presta {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 700px;
}

.cards-presta {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    left: 50%;
    transform: translateX(-50%) scale(1);
    z-index: 2;
    transition: transform 0.5s ease-in-out;
}

.inactive {
    transform: scale(0.9);
    z-index: 1;
    filter: blur(2px);
}

.inactive > div {
    filter: grayscale(100%) blur(2px);
    transition: filter 0.5s ease-in-out;
}

.active > div {
    transition: filter 0.5s ease-in-out;
}

.inactive::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding: 10px 2px;
    background-color: #EAE5C8;
    border-radius: 10px 0px 0px 10px;
    position: fixed;
    top: 30%;
    right: 0;
    z-index: 2;
}

.social-media a {
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

.social-media a:visited {
    color: black;
}

.social-media a i {
    font-size: 2rem;
}

.gallery-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 320px; /* Adjusted height */
    overflow: hidden;
    position: relative;
    padding: 20px 0;
}

.gallery {
    display: flex;
    animation: scrollGallery 35s linear infinite;
    width: calc(2 * 100%);
}

.gallery img {
    height: 300px; /* Adjusted height */
    width: auto;
    margin: 0 10px;
    flex-shrink: 0;
    object-fit: contain; /* Ensure consistent display */
}

@keyframes scrollGallery {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

footer {
    background-color: #495DA7;
    color: black;
    text-align: center;
    padding: 20px 0;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    margin: 10px 0;
    display: flex;
}

.icon {
    font-size: 40px;
    color: black;
    margin: 0 10px;
    text-decoration: none;
}

.legal-links {
    margin-top: 10px;
    display: flex;
}

.legal-links a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

.legal-links a:hover {
    text-decoration: underline;
}

.Avis-Container {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-top: 4rem;
}

.Avis {
    background-color: #EAE5C8;
    border-radius: 16px;
    width: 400px;
    padding: 20px;
    position: relative;
}

.Avis-Photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 5%;
    transform: translateX(-70%);
}

.Avis p {
    padding-left: 40px;
    font-family: "Josefin Sans", serif;
    font-weight: 300;
    color: #333;
}

.Avis-Signature {
    text-align: center;
    font-weight: 400;
}

.Formulaire-Container {
    background-color: #EAE5C8;
    border-radius: 16px;
    padding: 30px;
    width: 600px;
    text-align: center;
    margin-top: 3%;
}

.Formulaire {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    background: white;
    outline: none;
}

textarea {
    height: 100px;
    resize: none;
}

.Formulaire-Boutton {
    background-color: #FF6F32;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.Formulaire-Boutton:hover {
    background-color: #e65a24;
}

.formulaire-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}